<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CV Groutch</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <button type="button" id="dismiss" class="btn btn-info"><i class="fas fa-align-justify"></i></button>
            <div class="sidebar-header">
                <h3>Menu Groutch</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/skill">Compétences</a>
                </li>
                <li>
                    <a href="/xp">Expérience Professionnelle</a>
                </li>
                <li>
                    <a href="/training">Formation</a>
                </li>
                <li>
                    <a href="/fun">Loisirs</a>
                </li>
            </ul>
        </nav>
        

        <!-- Page Content  -->
        <div id="content">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 d-none d-md-block" id="mepic">
                            <img src="face.png" class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-md-9" id="meinfo">
                            <div class="row">
                                <div class="col-1"></div>
                                  <div class="col-11"><h1>CLÉMENT SCHERRER</h1><h2>Développeur Web Full Stack</h2></div>
                            </div>
                            <div class="d-none d-md-block">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-11">CONTACT:</div>
                                </div>
                                <div class="row">  
                                    <div class="col-1"><i class="fas fa-phone-square"></i></div>
                                    <div class="col-11">06.26.54.12.32</div>
                                </div>
                                <div class="row">
                                    <div class="col-1"><i class="fas fa-envelope"></i></div>
                                    <div class="col-11"><a href="mailto:scherrer.clement@gmail.com" target="_blank">scherrer.clement@gmail.com</a></div>
                                </div>    
                                <div class="row">
                                    <div class="col-1"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="col-11"><a href="https://goo.gl/maps/hoVnsFsQpq72" target="_blank">10 Place Jean Jaures<br>31800 Saint-Gaudens</a></div>
                                </div>   
                                <div class="row">
                                    <div class="col-1"><i class="fas fa-car"></i></div>
                                    <div class="col-11">Permis B</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contenu ici -->
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"><h2><%- maintitle %></h2></div>
                        <br>
                        <% content.forEach(function(line) { %>
                            <h4 class="mb-0"><%- line.title %></h4>
                            <h6 class="mb-0"><p><%- line.content %></p></h6>
                            <br>
                        <% }); %>
                    </div>
                </div>
            </div>
            <br>
            <div class="container-fluid gr-footer">
                <hr>
                <div class="text-center center-block">
                    <p class="txt-railway">- Mes liens -</p>
                    <br />
                    <a href="https://www.facebook.com/Groutch" target="_blank"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
                    <a href="https://twitter.com/GroutchKeu" target="_blank"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
                    <a href="https://github.com/Groutch" target="_blank"><i class="fab fa-github-square fa-3x social"></i></a>
                    <a href="https://www.linkedin.com/in/Groutch" target="_blank"><i class="fab fa-linkedin fa-3x social"></i></a>
                </div>
                <hr>
            </div>
        </div>
        <!-- Dark Overlay element -->
        <div class="overlay"></div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('.overlay').on('click', function() {
                // hide sidebar
                $('#sidebar').removeClass('active');
                // hide overlay
                $('.overlay').removeClass('active');
            });

            $('#dismiss').on('click', function() {
                // open sidebar
                if($('#sidebar').hasClass("active")){
                    $('#sidebar').removeClass('active');
                    // hide overlay
                    $('.overlay').removeClass('active');
                }else{
                    $('#sidebar').addClass('active');
                    // fade in the overlay
                    $('.overlay').addClass('active');
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                }
            });
        });

    </script>
</body>

</html>
